<!DOCTYPE html>
<html>
<head>
	<title>register page</title>

	<!-- how to link the css file with html files-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">

	
</head>
<body>


	<center><h1>this is register page</h1></center>

	<form action="{% url 'goRegister' %}" method="post">
		<!-- this is cross server response forgery so every time it will generate an new token for every user to identity the user -->
		{% csrf_token %}
		<table>
			<tr>
				<td>enter name 123 from register</td>
				<td>
					<input type="text" name="u_name" placeholder="enter name">
				</td>
			</tr>
			<tr>
				<td>enter password</td>
				<td>
					<input type="password" name="u_password" placeholder="enter password">
				</td>
			</tr>
			<tr>
				<td>
					<input type="reset">
				</td>
				<td>
					<input type="submit" value="login">
				</td>
			</tr>
		</table>
	</form>

</body>
</html>